.superDiv{
    background-image: url("https://t3.ftcdn.net/jpg/08/68/51/04/360_F_868510427_vsvN67LV1zSmLMyXMOFG05tRCmTAj1xL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
   
}

.login-form{
    background-color: rgb(8, 7, 66);
    padding: 10vh;
    color: white;
    font-size: large;
    font-weight: bold;
}

.input-group{
    margin: 2vh;

}

.login-form input{
    padding: 0.5vh;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

